@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: whitesmoke;
}

.navbar {
  background-color: skyblue;
  -webkit-box-shadow: 0px 5px 16px -3px #000000;
  box-shadow: 0px 5px 16px -3px #000000;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-col {
  text-decoration: none;
  margin: 0px 10px;
}

.navbar-nav > li {
  -webkit-transform: translate(100rem);
          transform: translate(100rem);
  -webkit-animation: slide 2s forwards;
          animation: slide 2s forwards;
}

.navbar-nav > li:nth-child(2) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.navbar-nav > li:nth-child(3) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(100rem);
            transform: translateX(100rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(100rem);
            transform: translateX(100rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.container-fluid {
  cursor: pointer;
}

.sp2 {
  color: white;
}

.rt {
  color: white;
}

.sp3 {
  color: white;
}

.sp1 {
  -webkit-animation-name: tit;
          animation-name: tit;
  position: relative;
  color: white;
}

.tit:hover .sp1 {
  -webkit-animation: sp1 .5s ease;
          animation: sp1 .5s ease;
}

@-webkit-keyframes sp1 {
  0% {
    right: 0px;
  }
  50% {
    right: 7px;
  }
  100% {
    right: 0px;
  }
}

@keyframes sp1 {
  0% {
    right: 0px;
  }
  50% {
    right: 7px;
  }
  100% {
    right: 0px;
  }
}

.sp2 {
  -webkit-animation-name: tit;
          animation-name: tit;
  position: relative;
  color: white;
}

.tit:hover .sp2 {
  -webkit-animation: sp2 .5s ease;
          animation: sp2 .5s ease;
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

@-webkit-keyframes sp2 {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 7px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes sp2 {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 7px;
  }
  100% {
    bottom: 0px;
  }
}

.sp3 {
  -webkit-animation-name: tit;
          animation-name: tit;
  position: relative;
  color: white;
}

.tit:hover .sp3 {
  -webkit-animation: sp3 .5s ease;
          animation: sp3 .5s ease;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

@-webkit-keyframes sp3 {
  0% {
    left: 0px;
  }
  50% {
    left: 7px;
  }
  100% {
    left: 0px;
  }
}

@keyframes sp3 {
  0% {
    left: 0px;
  }
  50% {
    left: 7px;
  }
  100% {
    left: 0px;
  }
}

.name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 100px 20px;
  position: relative;
  cursor: pointer;
}

.name-pic {
  width: 300px;
  height: 300px;
  position: absolute;
  display: none;
  top: 50px;
  left: 0px;
  background-image: url(./images/bbYH9M8PP1o.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 50%;
}

.name:hover .name-pic {
  display: block;
}

.nav-col {
  color: white;
}

h5 {
  margin-bottom: 0px;
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin: 80px auto 0px auto;
  text-decoration: none;
  background-color: skyblue;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.h1-h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0px auto;
}

.h1-h3,
h5,
h6,
.sec2 > p,
.sec4 > p,
.sec6 > p {
  color: #03036b;
}

hr {
  margin-bottom: 50px;
}

.container {
  width: 97vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "html css sass" "font-a github bootstrap" "git vsc .";
}

.box {
  width: 90%;
  height: 80%;
  padding: 35px;
  margin: 10px auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.31);
  box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.31);
}

.box img {
  width: 25%;
}

.box1 img,
.box8 img {
  width: 17%;
}

.box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: html;
}

.box2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: css;
}

.box3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sass;
}

.box4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: font-a;
}

.box4 h6,
.box6 h6 {
  margin-bottom: 0px;
}

.box5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: github;
}

.git-hub {
  text-decoration: none;
  color: black;
}

.box6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: bootstrap;
}

.box7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: git;
}

.box8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: vsc;
}

.fab {
  font-size: 2.5rem;
}

.js > img {
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#circle-orbit-container {
  position: relative;
  top: 0px;
  left: 75px;
  height: 300px;
  width: 300px;
  opacity: 0;
}

#inner-orbit {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  border: 2px #4A437F dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 10s linear infinite;
}

.inner-orbit-cirlces {
  position: absolute;
  top: 62px;
  left: -6px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #9F98E6;
}

#middle-orbit {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  border: 2px #4A437F dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 15s linear infinite;
  animation: spin-right 15s linear infinite;
}

.middle-orbit-cirlces {
  position: absolute;
  top: 25px;
  left: 17px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #4A437F;
}

#outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 294px;
  border: 2px #4A437F dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
}

.outer-orbit-cirlces {
  position: absolute;
  top: -17px;
  left: 125px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-image: url(./images/icons8-react-native.gif);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#circle-orbit-container:hover {
  opacity: 1;
}

.plane {
  width: 25px;
  -webkit-animation-name: plane;
          animation-name: plane;
  position: relative;
  -webkit-animation-duration: 180s;
          animation-duration: 180s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes plane {
  0% {
    left: 0%;
  }
  47% {
    left: 99%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  52% {
    left: 99%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  97% {
    left: 0%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes plane {
  0% {
    left: 0%;
  }
  47% {
    left: 99%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  52% {
    left: 99%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  97% {
    left: 0%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.work,
.contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 80px auto;
}

.work span {
  position: relative;
  top: 5px;
  left: 10px;
}

.work-exp {
  width: 97vw;
  height: 2000px;
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "air-pic air-text" "dis-pic dis-text" "web-pic web-text";
}

.sec {
  border-radius: 10px;
  width: 90%;
  height: 95%;
  padding: 35px;
  margin: 10px auto;
}

.sec1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: air-pic;
  background-image: url(./images/DFS-Flughafenturm-1200x800.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  -webkit-box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.31);
  box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.31);
}

.sec2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: air-text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: dis-pic;
  background-image: url(./images/this-person-is-more-in-control-of-your-flight-than-the-pilot.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  -webkit-box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.31);
  box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.31);
}

.sec4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: dis-text;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #03036b;
}

.text-wraper p:nth-child(2) {
  font-size: .7rem;
}

.sec5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: web-pic;
  background-image: url(./images/1_rGiHBnlqf6-koapA2DzUoA.jpeg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  -webkit-box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.31);
  box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.31);
}

.sec6 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: web-text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec6 a img {
  width: 35px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.sec6 a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hwrap {
  overflow: hidden;
  background: #c4dee9;
}

.hmove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hitem {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 250%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

@-webkit-keyframes tickerh {
  0% {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-150%, 0, 0);
            transform: translate3d(-150%, 0, 0);
  }
}

@keyframes tickerh {
  0% {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-150%, 0, 0);
            transform: translate3d(-150%, 0, 0);
  }
}

.hmove {
  -webkit-animation: tickerh linear 55s infinite;
          animation: tickerh linear 55s infinite;
}

.hmove:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.prague {
  color: palevioletred;
}

.gray {
  color: gray;
}

.blue {
  color: blue;
}

.lightblue {
  color: #1eb2e4;
}

.white {
  color: #3d3c3c;
}

.brown {
  color: #a30808;
}

.green {
  color: #035303;
}

.red {
  color: #c30404;
}

.yellow {
  color: #c0c007;
}

.purple {
  color: purple;
}

.green-1 {
  color: #36d399;
}

.orange {
  color: orange;
}

.garg {
  color: #8d8424;
}

.contact span {
  position: relative;
  top: 5px;
  left: 10px;
}

.b-contact {
  width: 45%;
  background-color: #63a1d4;
  padding: 35px;
  margin: 0px auto;
}

.red-star {
  color: red;
  font-weight: bold;
}

input {
  padding: 5px 10px;
  width: 100%;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus {
  outline: 3px solid #0f64ec;
}

textarea {
  width: 100%;
}

input[type="submit"] {
  width: 150px;
}

.footer {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #042241;
}

.footer p {
  font-size: .8rem;
  margin: 0px;
  color: white;
}

@media (max-width: 992px) {
  .tit-wrap {
    display: none;
  }
  .name {
    margin-top: 200px;
    margin-bottom: 0px;
  }
  .name-pic {
    width: 200px;
    height: 200px;
  }
  .h1-h3 {
    font-size: 1.4rem;
    margin: 0px auto;
  }
  .but {
    margin: 0px auto;
  }
  .container {
    width: 97vw;
    margin: 30px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: "html vsc " "sass font-a " "github bootstrap" " css git" ". .";
  }
  #circle-orbit-container {
    left: 53%;
  }
  .hitem {
    width: 400%;
  }
  .work-exp {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .b-contact {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .name {
    font-size: .7rem;
    margin-top: 200px;
    margin-bottom: 0px;
  }
  .name img {
    width: 100px;
  }
  .h1-h3 {
    font-size: 1rem;
  }
  .but {
    font-size: .8rem;
  }
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (200px)[9];
        grid-template-rows: repeat(9, 200px);
        grid-template-areas: "html" "vsc" "sass" "font-a" "github " "bootstrap" "css" "git" ".";
  }
  .box {
    width: 90%;
    height: 80%;
    padding: 5px;
    margin: 10px auto;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.31);
    box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.31);
  }
  #circle-orbit-container {
    top: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .work-exp {
    height: 1600px;
    margin: 10px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: "air-pic " "air-text" "dis-pic " "dis-text" "web-pic " "web-text";
  }
  .sec {
    height: 90%;
    padding: 35px;
    margin: 10px auto;
  }
  .sec > p {
    font-size: .7rem;
  }
  .hitem {
    width: 380%;
    font-size: .5rem;
  }
  .b-contact {
    width: 97%;
  }
  form {
    font-size: .7rem;
  }
  .footer > p {
    font-size: .6rem;
  }
}
/*# sourceMappingURL=style.css.map */